doctype html
html
    head
    title IBM Watson Alchemy API
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet',href='/stylesheets/style.css')
    body
        .container-fluid
            .row
                .col-sm-3
                    .sidebar-nav
                        .navbar.navbar-default(role='navigation')
                            .navbar-header
                                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-navbar-collapse')
                                    span.sr-only Toggle navigation
                                    span.icon-bar
                                    span.icon-bar
                                    span.icon-bar
                                span.visible-xs.navbar-brand Main Menu
                            .navbar-collapse.collapse.sidebar-navbar-collapse
                                ul.nav.navbar-nav
                                    li
                                        a(href='/entity') Entity Extraction
                                    li
                                        a(href='/keyword') Keyword Extraction
                                    li
                                        a(href='/concept') Concept Tagging
                                    li
                                        a(href='/sentiment') Sentiment Analysis
                                    li
                                        a(href='/textext') Text Extraction
                                    li
                                        a(href='/author') Author Extraction
                                    li
                                        a(href='/language') Language Detection
                                    li
                                        a(href='/title') Title Extraction
                                    li
                                        a(href='/relation') Relation Extraction
                                    li
                                        a(href='/textcat') Text Categorization
                                    li
                                        a(href='/feed') Feed Detection
                                    li
                                        a(href='/microformats') Microformats Parsing
                                    li
                                        a(href='/taxonomy') Taxonomy Parsing
                                    li
                                        a(href='#') Image Parsing
                                    li
                                        a(href='#') Image Keywords Tagging
                                    li
                                        a(href='/combined') Combined Parsing
                                    li
                                        a(href='#') Face Recognition
                .col-sm-9
                    form(role='form', method='POST', action=linklocation)
                        .form-group
                            label(for='inputtext')
                                h2 #{api} || Enter #{textarea_input} Below
                            textarea#inputtext.form-control(type='text' rows=8 name='inputtext') #{data_text}
                        button.btn.btn-default.btn-success(type='submit') Submit
                    hr
                    h2 JSON Response
                    textarea.form-control(type='text' rows=11 ) #{response}

    script(src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/ga.js')